@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 1000px;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #10619e, #041f34);
  color: white;
  overflow-y: auto;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  padding-top: 50px;
  background: linear-gradient(to bottom, #10619e, #041f34);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(120,120,120,0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120,120,120,0.8);
}
