@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 1000px;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(216, 240, 243);
}

